# Основы pandas

In [1]:
import pandas as pd

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [3]:
m = ratings.query('rating == 5').groupby('movieId').count().sort_values('rating', ascending=False)

In [6]:
m.head(3)

         userId  rating  timestamp
movieId
318         153     153        153
296         123     123        123
356         116     116        116

In [7]:
m.merge(movies, on='movieId', how='left').head(1)

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
power = pd.read_csv('power.csv')

In [9]:
power[power['country'].str.contains('latv|litv|eston', case = False)]['country'].unique()

array(['Latvia', 'Estonia'], dtype=object)

In [10]:
power_years = power[power.year.between(2005, 2010, inclusive = True)]

In [11]:
sum((power_years.query("category in [4, 12, 21] and quantity > 0 and country in ['Latvia', 'Estonia']")).quantity)

118284.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [12]:
pd.read_html('https://fortrader.org/quotes')[1]

,Type,Last,Chg.,Chg.%,Time
0,ВТБ Акции ВТБ,0.04646,+0.000270,0.584542,NaN
1,Газпром Акции газпрома,226.60000,-1.43,-0.630000,NaN
2,Лукойл Акции Лукойл,6561.00000,-11.0,-0.200000,NaN
3,Роснефть Акции Роснефти,479.80000,-1.05,-0.220000,NaN
4,Сбербанк Акции Сбербанка,252.40000,-2.05,-0.810000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,46.22500,+1.715,3.853000,NaN
6,Норникель Акции Норникель,20766.00000,+333,2.000000,NaN
7,Аэрофлот Акции Аерофлота,107.44000,-2.36,-2.150000,NaN
8,Северсталь Акции Северсталь,913.80000,+6.80,0.750000,NaN
9,Транснефть Акции транснефти,164950.00000,-1 350,-1.000000,NaN
10,Ростелеком Курс акций ростелекома,88.05000,+15.22,20.900000,NaN
11,RUSAL акции RUSAL,4.23000,+0.07,1.680000,NaN